.team-header {
  background-color: #2e3840;
  text-align: center;
}
.detail-content-container {
  display: flex;
  justify-content: center;
}

.flag {
  margin-top: 50px;
  height: 400px;
  width: 600px;
  display: block;
}

.detail-title {
  text-align: center;
  margin: 30px;
  font-size: 30px;
}

.individual-container {
  background-color: white; /* Adjust color to match your screenshot */
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 350px; /* Adjust based on your design preference */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Simple shadow for depth */
  margin: 40px;
}
.stats {
  color: white;
  margin-bottom: 50px;
}

.button-container {
  display: flex;
  gap: 220px;
  justify-content: center;
}

.detail-info-button {
  background-color: #c0392b; /* Adjust color to match your screenshot */
  color: white;
  border: none;
  height: 50px;
  font-size: 17px;

  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 40px;
  cursor: pointer;
  width: 300px;
}

.detail-info-button:hover {
  background-color: #a93226; /* Slightly darker on hover */
}
