.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9dbbb;
  height: 110px;
  text-decoration: none;
}

.soccerball {
  height: 75px;
  width: 75px;
  margin: auto 20px;
}

.main-nav-links {
  display: flex;
}

.nav-links {
  margin: auto 20px;

  display: flex;
}

.link {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.active-link {
  font-weight: bold;
}

.separator {
  margin-right: 10px; /* Adjust as necessary to get the desired spacing */
}
